<nav class="navbar navbar-expand navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto smooth-scroll">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#works">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header id="home">
  <div class="header_top" id="particles-js">

    <div class="font">
      <h1>I am Saydullayev Yusufboy</h1>
      <p>WEB DEVELOPER
      </p>
    </div>
  </div>


</header>
<main class="about" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase">About
      <strong>me</strong>
    </h2>
    <p class="text-center">Lorem ipsum dolor sit
      amet, consectetur adipisicing elit. Laborum quas, eos officia maiores ipsam ipsum dolores reiciendis
      ad voluptas, animi obcaecati adipisci sapiente mollitia.
    </p>
    <div class="row text-center">
      <div class="col-12 col-md-6 col-lg-6  mb-5">
        <div class="card card-body second">
          <i class="fas fa-laptop fa-3x mb-4"></i>
          <h5 class="font-weight-bold text-uppercase mb-4">Freelancer</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-6  mb-5">
        <div class="card card-body second">
          <i class="fas fa-code fa-3x mb-4"></i>
          <h5 class="font-weight-bold text-uppercase mb-4">Developer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>


    </div>
  </div>
  <div style="background-color: #f3f3f5;">
    <div class="container">
      <h2 class="text-center text-uppercase my-5 pt-5">My
        <strong>experiences</strong>
      </h2>
      <div class="row">
        <div class="col-lg-5 offset-lg-1 col-md-6 mb-4">
          <p class="black-text text-uppercase font-weight-bold pt-3">Java Script</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">CSS3</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">HTML5</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">Bootstrap 4,5</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">ES5,6</p>
        </div>
        <div class="col-lg-5 offset-lg-1 col-md-6 mb-4">
          <p class="black-text text-uppercase font-weight-bold pt-3">PHP</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">Node.js</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">React</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">MongoDb</p>
          <p class="black-text text-uppercase font-weight-bold pt-3">Github</p>

        </div>
      </div>
    </div>
  </div>
</main>
<div class="container" id="works">
  <section class="section mb-5">
    <h2 class="text-center text-uppercase my-5 pt-5">My
      <strong>projects</strong>
    </h2>
    <p class="text-center w-responsive mx-auto my-5">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Quia iste provident, voluptatum voluptatibus aut modi aspernatur autem impedit,
      eius, debitis earum voluptatem. Quaerat hic aspernatur laborum magni earum. At, officiis!</p>
    <div class="row">
      <div class="col-md-12 mb-5">
        <div id="mdb-lightbox-ui"></div>
        <div class="mdb-lightbox">
          <figure class="col-md-4">
            <a href="https://telegramonlayn.herokuapp.com/"><img
                src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(63).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="/5/index.html"><img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(65).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="/totembo/build/index.html"><img
                src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="/Man Shop/index.html"><img
                src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(68).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="/pizza/index.html"><img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(64).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="https://musicnodejs.herokuapp.com"><img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(69).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="https://notes-com.netlify.app"><img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(59).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
          <figure class="col-md-4">
            <a href="https://cars-website.netlify.app/"> <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(70).jpg"
                class="img-fluid z-depth-1"></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <hr>
</div>
<main class="contact" id="contact">
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <section class="section text-center">
                <h2 class="font-weight-bold title h1 my-5">Contact me</h2>
                <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit. Fugit, error amet numquam iure
                  provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum
                  porro
                  a pariatur accusamus veniam.</p>
                <div class="row pt-5">
                  <div class="col-md-8 col-xl-9 mb-4">
                    <form method="post" action="/comment">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="md-form mb-0">
                            <div class="md-form mb-0">
                              <input type="text" id="contact-name" required="true" name="user" class="form-control">
                              <label for="contact-name" class="">Your name</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="md-form mb-0">
                            <div class="md-form mb-0">
                              <input type="email" id="contact-email" required="true" name="email" class="form-control">
                              <label for="contact-email" class="">Your email</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">

                          <div class="md-form mb-0">
                            <textarea type="text" id="contact-message" required="true" name="message"
                              class="md-textarea form-control" rows="3"></textarea>
                            <label for="contact-message">Your message</label>
                          </div>

                        </div>
                      </div>
                      <div class="text-center text-md-left mt-4">
                        <button class="btn btn-rounded" style="color:black ;" type="submit">Send</button>
                      </div>
                    </form>
                  </div>

                  <div class="col-md-4 col-xl-3">
                    <ul class="list-unstyled contact-icons">
                      <li>
                        <i class="fas fa-map-marker-alt fa-2x orange-text"></i>
                        <p>Tashkent, UZB</p>
                      </li>
                      <li>
                        <i class="fas fa-phone fa-2x orange-text"></i>
                        <p>+998935910126</p>
                      </li>
                      <li>
                        <i class="fas fa-envelope fa-2x orange-text"></i>
                        <p>yusufsaydullayev@gmail.com</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
