<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/all.min.css' />
  <link rel='stylesheet' href='/stylesheets/mdb.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/webfonts/">
</head>

<body>
  {{{body}}}

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/mdb.lite.js"></script>
  <script src="/javascripts/particles.min.js"></script>
  <script src="/javascripts/config.js"></script>

</body>

</html>