<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/all.min.css' />
  <link rel='stylesheet' href='/stylesheets/mdb.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/webfonts/">
</head>

<body>
  {{{body}}}
  <script src="/javascripts/script.js"></script>
  <script src="/wow.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/javascripts/mdb.lite.js"></script>
  <script src="/javascripts/jquery.vide.min.js"></script>
</body>

</html>