<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3">
                <h5 class="footer__title">ТОВАРЫ</h5>
                <ul class="footer__list">
                    <li><a href="#" class="footer__link">Часы</a></li>
                    <li><a href="#" class="footer__link">Кольца</a></li>
                    <li><a href="#" class="footer__link">Серьги</a></li>
                    <li><a href="#" class="footer__link">Браслеты</a></li>
                    <li><a href="#" class="footer__link">Клатчи</a></li>
                    <li><a href="#" class="footer__link">Цепочки</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <h5 class="footer__title">ПОКУПАТЕЛЯМ</h5>
                <ul class="footer__list">
                    <li><a href="#" class="footer__link">Скидки</a></li>
                    <li><a href="#" class="footer__link">Новости</a></li>
                </ul>
            </div>


            <div class="col-12 col-lg-6">
                <div class="row footer__right">
                    <div class="footer__contact col-lg-12 col-sm-6 col-12">
                        <h5 class="footer__title">ПОКУПАТЕЛЯМ</h5>
                        <a class="footer__info" href="https://goo.gl/maps/tzCHMe3DZNqFkwoVA">Ул. Аския, Яккасарайский район, Ташкент, Узбекистан</a>
                        <div class="footer__tel">
                            <a href="tel:+99897 742 54 14" class="footer__info">+998 97 742 54 14</a>
                            <a href="tel:+99897 742 54 14" class="footer__info">+998 97 742 54 14</a>
                        </div>
                        <a class="footer__info" href="mailto:totembo@exapmle.com">totembo@exapmle.com</a>
                    </div>
                    <div class="footer__social col-lg-12 col-sm-6 col-12">
                        <h5 class="footer__title">СОЦИАЛЬНЫЕ СЕТИ</h5>
                        <ul class="footer__social-list">
                            <li><a href="#" class="footer__social-icon"><i class="fab fa-vk"></i></a></li>
                            <li><a href="#" class="footer__social-icon"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#" class="footer__social-icon"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" class="footer__social-icon"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="scripts/common.min.js"></script>
</body>

</html>