<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fonts/all.min.css">
    <link rel="stylesheet" href="styles/main.min.css">
</head>
<body>
    <header class="header">
        <nav class="container header__nav">
            <div class="header__nav-top">
                <a href="#" class="header__nav-lang">ru</a>
                <h1 class="header__title">TOTEMBO</h1>
                <a href="#" class="header__nav-search">
                    <i class="fal fa-search"></i>
                </a>
            </div>
            <div class="header__nav-bottom">
                <button class="header__nav-btn">
                    <i class="fal fa-bars"></i>
                </button>
                <ul class="header__nav-list">
                    <button class="header__nav-times">
                        <i class="fal fa-times"></i>
                    </button>
                    <li><a href="#" class="header__nav-link">Часы</a></li>
                    <li><a href="#" class="header__nav-link">Кольца</a></li>
                    <li><a href="#" class="header__nav-link">Серьги</a></li>
                    <li><a href="#" class="header__nav-link">Браслеты</a></li>
                    <li><a href="#" class="header__nav-link">Клатчи</a></li>
                    <li><a href="#" class="header__nav-link">Цепочки</a></li>
                </ul>
                
                <ul class="header__nav-controls">
                    <li><a href="#" class="header__nav-icon" id="like" data-target=".like-sidebar">
                        <i class="fal fa-heart"></i>
                    </a></li>
                    <li><a href="#" class="header__nav-icon" id="cart" data-target=".cart-sidebar">
                        <i class="fal fa-shopping-cart"></i>
                    </a></li>
                    <li><a href="#" class="header__nav-icon">
                        <i class="fal fa-user"></i>
                    </a></li>
                </ul>
            </div>
        </nav>
    </header>