<div class="header__content container">
    <div class="header__content-item" data-name="CITIZEN" data-price="1578000">
        <div class="header__content-sale">50%</div>
        <div class="header__content-like"><i class="fal fa-heart"></i></div>
        <div class="header__content-cart"><i class="fal fa-shopping-cart"></i></div>
        <div class="header__content-product">
            <img src="images/clock.png" class="header__content-image" alt="watch">
            <div class="header__content-info">
                <h4 class="header__content-name">CITIZEN</h4>
                <p class="header__content-price">1 578 000 UZS</p>
            </div>
        </div>
    </div>
    <div class="header__content-item" data-name="Casio G-Shock" data-price="2258000">
        <div class="header__content-sale">50%</div>
        <div class="header__content-like"><i class="fal fa-heart"></i></div>
        <div class="header__content-cart"><i class="fal fa-shopping-cart"></i></div>
        <div class="header__content-product">
            <img src="images/image-3.png" class="header__content-image" alt="watch">
            <div class="header__content-info">
                <h4 class="header__content-name">Casio G-Shock</h4>
                <p class="header__content-price">2 258 000 UZS</p>
            </div>
        </div>
    </div>
    <div class="header__content-item" data-name="COVER CRAZY SECONDS" data-price="1785000">
        <div class="header__content-sale">50%</div>
        <div class="header__content-like"><i class="fal fa-heart"></i></div>
        <div class="header__content-cart"><i class="fal fa-shopping-cart"></i></div>
        <div class="header__content-product">
            <img src="images/image-4.png" class="header__content-image" alt="watch">
            <div class="header__content-info">
                <h4 class="header__content-name">COVER CRAZY SECONDS</h4>
                <p class="header__content-price">1 785 000 UZS</p>
            </div>
        </div>
    </div>
</div>