<section class="leader container">
    <h2 class="leader__title">ЛИдеры продаж</h2>
    <div class="leader__content">
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-5.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-6.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-7.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-8.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-9.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-10.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-11.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-12.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-13.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-14.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-15.png" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
        <div class="leader__item" data-name = "Fantastic Style" data-price="1128000">
            <div class="leader__content-sale">50%</div>
            <div class="leader__content-like"><i class="fal fa-heart"></i></div>
            <div class="leader__content-cart"><i class="fal fa-shopping-cart"></i></div>
            <div class="leader__content-product">
                <img src="images/image-16.jpg" class="leader__content-image" alt="watch">
                <div class="leader__content-info">
                    <h4 class="leader__content-name">Fantastic Style</h4>
                    <p class="leader__content-price">1 128 000 UZS</p>
                </div>
            </div>
        </div>
    </div>
</section>