<section class="news">
    <h2 class="news__title">НОВОСТИ</h2>
    <div class="container news__content">
        <div class="news__item">
            <div class="news__item_dark">
                <div class="news__item-type">Советы</div>
                <h4 class="news__item-title">Как выбрать первые японские часы – советы эксперта</h4>
                <p class="news__item-text">Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...</p>
                <div class="news__item-time">
                    <i class="fal fa-clock"></i>
                    <output class="news__item-output"></output>
                </div>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item_dark">
                <div class="news__item-type">Советы</div>
                <h4 class="news__item-title">Как выбрать первые японские часы – советы эксперта</h4>
                <p class="news__item-text">Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...</p>
                <div class="news__item-time">
                    <i class="fal fa-clock"></i>
                    <output class="news__item-output"></output>
                </div>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item_dark">
                <div class="news__item-type">Советы</div>
                <h4 class="news__item-title">Как выбрать первые японские часы – советы эксперта</h4>
                <p class="news__item-text">Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...</p>
                <div class="news__item-time">
                    <i class="fal fa-clock"></i>
                    <output class="news__item-output"></output>
                </div>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item_dark">
                <div class="news__item-type">Советы</div>
                <h4 class="news__item-title">Как выбрать первые японские часы – советы эксперта</h4>
                <p class="news__item-text">Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...</p>
                <div class="news__item-time">
                    <i class="fal fa-clock"></i>
                    <output class="news__item-output"></output>
                </div>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item_dark">
                <div class="news__item-type">Советы</div>
                <h4 class="news__item-title">Как выбрать первые японские часы – советы эксперта</h4>
                <p class="news__item-text">Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...</p>
                <div class="news__item-time">
                    <i class="fal fa-clock"></i>
                    <output class="news__item-output"></output>
                </div>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item_dark">
                <div class="news__item-type">Советы</div>
                <h4 class="news__item-title">Как выбрать первые японские часы – советы эксперта</h4>
                <p class="news__item-text">Задумавшись о том, какие японские часы приобрести, следует держать в уме следующие цифры: в Японии существуют около 2800 фирм, так или иначе связанных с часовым ...</p>
                <div class="news__item-time">
                    <i class="fal fa-clock"></i>
                    <output class="news__item-output"></output>
                </div>
            </div>
        </div>
    </div>
</section>